.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: 800px; 
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.573);
}

.modal-backdrop.show {
    opacity: 0.9; /* 這是不透明度，數字越低越透明 */
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:  rgb(102, 153, 177);
    --bs-btn-border-color: rgb(68, 113, 135);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(68, 113, 135);
    --bs-btn-hover-border-color: rgb(102, 153, 177);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}